<a href="https://colab.research.google.com/github/CamTu22/DAOTHICAMTU_20104009/blob/main/Tu%E1%BA%A7n_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
with open ('text.txt',mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0 \ n')
  accounts.write('2 Le Thi B 6.8 \n')

In [ ]:
with open ('text1.txt',mode='w') as accounts:
  print('7:00 NGuyen Van A',file = accounts)
  print('7:01 Le THi B', file = accounts)

In [ ]:
with open ('text.txt', mode = 'v') as accounts:
  print(f'{'name':<20} {'score':>20}')
  for record in accounts:
    name, score = record.split()
    print(f'{name:<20}{score:>20}')

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe[:4]
dataframe = dataframe.set_index(dataframe['Khoa'])
dataframe.loc['CLC']
dataframe[(dataframe['Khoa']=='DT') & (dataframe['Diem']>=2)]
dataframe['Khoa'].value_counts()
dataframe['Khoa'].unique()
#xóa
dataframe.drop(['MSSV'],axis=1).head(10)

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['name'] = ['nguyen van a','nguyen van b']
dataframe['student id'] = ['20104001','20104003']
dataframe['score'] = ['8.0','9.0']
dataframe

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe[:4]
dataframe.drop(['MSSV'],axis=1).head(10)

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Diem').mean()

In [ ]:
#nhóm
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.groupby(['Khoa','Diem']).count()

In [ ]:
#nhóm
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.groupby(['Khoa','MSSV'])['Diem'].count()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Medal'].unique()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(2311)
data[:2310]
data = data.set_index(data['Medal'])
data.loc['Gold']
data[(data['Medal']=='Gold') & (data['NOC']=='USA') & (data['Event gender']=='W')]

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].value_counts()

In [ ]:
#dataframe.groupby(['Khoa','MSSV'])['Diem'].count()
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby(['NOC','Medal']).count()

            Year  City  Sport  Discipline  Event  Event gender
NOC Medal
AUS Bronze     3     3      3           3      3             3
    Gold       3     3      3           3      3             3
AUT Bronze    70    70     70          70     70            70
    Gold      51    51     51          51     51            51
    Silver    64    64     64          64     64            64
...          ...   ...    ...         ...    ...           ...
USA Gold      78    78     78          78     78            78
    Silver    80    80     80          80     80            80
UZB Gold       1     1      1           1      1             1
YUG Bronze     1     1      1           1      1             1
    Silver     3     3      3           3      3             3

[112 rows x 6 columns]